<section class="card rounded">
    <div class="card-body">
        <h1 class="text-center">About</h1>
        <p class="text-center">This Website has been created for educational purposes based on Fatz Web Youtube channel tutorials</p>
    </div>

</section>